.container_head, .container_page, .container_footer {
    margin: 0 auto;
    margin-top: 5px;
}
.container_head{
    width: 70%;
    border: solid 1px black;
    background-color: beige;
}
.container_page{
    text-align: center;
    width: 70%;
    height: 200px;
    border: solid 1px black;
    background-color: rgb(131, 252, 242);
}.container_footer{
    width: 70%;
    height: 100px;
    border: solid 1px black;
    background-color: beige;
}
h3{
    text-align: center;
}